references/robo_thoughts_linkedin/AI-on-Jetson-Nano
references/computer-vision
code/jetson/yolov3/yolov3_opencv/venv
code/jetson/yolov3/yolov3_opencv/.idea
code/jetson/yolov3/yolov3_opencv/yolov3.weights

